<ion-view view-title="My Little Library">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        See all my books
      </div>

      <div class="item item-text-wrap" style="height: 200px;">
        <img src="../img/my-books.jpg" height="auto" width="100%" />
        <!-- TODO: colocar ação que leva para a respectiva tela -->
      </div>

    </div>

    <div class="card">
      <div class="item item-divider">
        Look for new awesome books
      </div>

      <div class="item item-text-wrap" style="height: 200px;">
        <img src="../img/library.png" height="auto" width="100%" />
      </div>
    </div>

  </ion-content>
</ion-view>
