<ion-view view-title="New Books">
  <ion-content>

    <div class="row">


      <div class="col" style="height: 240px;">

        <div class="list card">

          <div class="item item-image">
            <img src="../img/authors.png" height="144px" width="144px;"/>
          </div>
          <a class="item assertive" href="#/app/search/author">
            Author
          </a>

        </div>
      </div>

      <div class="col" style="height: 240px;">

        <div class="list card">

          <div class="item item-image">
            <img src="../img/authors.png" height="144px" width="144px;"/>
          </div>
          <a class="item assertive" href="#/app/search/category">
            Category
          </a>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col" style="height: 240px;">

        <div class="list card">

          <div class="item item-image">
            <img src="../img/series.png" height="144px" width="144px;"/>
          </div>
          <a class="item assertive">
            Series
          </a>

        </div>


      </div>

      <div class="col" style="height: 240px;">

        <div class="list card">

          <div class="item item-image">
            <img src="../img/authors.png" height="144px" width="144px;"/>
          </div>
          <a class="item assertive">
            Sugestions
          </a>

        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
