<ion-view view-title="Searching new books">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="filterText">
      </label>
      <label class="item item-text-wrap">
        {{innerFilter}}
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="book in books | filter: filterText " class="item item-thumbnail-left">

        <img ng-src="{{book.picture}}">
        <h2>{{book.name}}</h2>
        <p>{{book.synopsis}}</p>
        <ion-option-button class="button-assertive icon ion-android-bookmark" ng-click="addBook( {{$index}} )">
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
